g.cat-edu circle {
  fill: #B8E986;
}
g.cat-psico circle {
  fill: #498FE8;
}
g.cat-ciencia circle {
  fill: #CD1614;
}
g.cat-economia circle {
  fill: #B8E986;
}
g.cat-idiomas circle {
  fill: #4A4A4A;
}
.node.area {
  fill: #ee5555;
}
.node.area text {
  fill: #333;
}
g.area text {
  font: 15px sans-serif;
  font-weight: bold;
}
g.node {
  cursor: pointer;
}
.node {
  font: 10px sans-serif;
}
.node:hover {
  fill: #1f77b4;
}
.node circle {
  fill: #7ED321;
  stroke: #979797;
  stroke-width: 0px;
}
g.node.selected text {
  font: 20px sans-serif;
  fill: #7ED321;
}
g.node.cursocentrico text {
  font: 20px sans-serif;
  fill: #7ED321;
}
.tag text {
  font: 9px sans-serif;
  fill: #777;
  text-transform: uppercase;
  cursor: pointer;
}
.tag text:hover {
  fill: #000;
  font: 12px sans-serif;
}
.tag.relevant text {
  font: 11px sans-serif;
  fill: #B66;
  text-transform: uppercase;
  font-weight: bold;
}
.link {
  fill: none;
  stroke: rgba(0, 200, 0, 0.4);
  stroke-width: 1px;
}
path.linktag {
  fill: none;
  stroke: rgba(208, 2, 27, 0.1);
  stroke-width: 1px;
}
path.linktag.selected {
  stroke: rgba(208, 2, 27, 0.3);
  stroke-width: 2px;
}
path.linktag.selectedCC {
  stroke: rgba(150, 2, 27, 0.4);
  stroke-width: 2px;
}
#messages {
  background-attachment: fixed;
  background-size: cover;
  padding: 1em;
  display: none;
  transition: background 0.5s;
}
#messages a {
  color: #222;
  text-decoration: underline;
}
#messages a.btn {
  color: white;
  text-decoration: none;
}
#messages #titulo span {
  background-color: white;
}
#messages #tag-list {
  background-color: white;
  display: inline-block;
}
#messages span,
#messages #category-list {
  background-color: white;
}
