
//Caracteristicas especiales de los nodos que respresentan areas

g.cat-edu circle{
	fill:#B8E986;
}
g.cat-psico circle{
	fill:#498FE8;
}
g.cat-ciencia circle{
	fill:#CD1614;
}
g.cat-economia circle{
	fill:#B8E986;
}
g.cat-idiomas circle{
	fill:#4A4A4A;
}
g.cat-area{
	
}



.node.area{
  fill:#ee5555;
}
.node.area text{
  fill:#333;
}



g.area text{
	font: 15px sans-serif;
	font-weight: bold;
}


g.node{
	cursor:pointer;
}

//NODOS QUE REPRESENTAN CURSOS+ÁREAS
//curso en general
.node {
  font: 10px sans-serif;
  &:hover{
  	fill: #1f77b4;
  }
  circle {
	  fill: #7ED321;
	  stroke: #979797;
	  stroke-width: 0px;
	}
}

//.selected se añade a un curso cuando se selecciona un tag similar
g.node.selected text{
	font: 20px sans-serif;
	fill: #7ED321;
}

//.cursocentrico es la clase del "curso seleccionado" en modo cursocentrico
g.node.cursocentrico {
	text{
		font: 20px sans-serif;
		fill: #7ED321;
	}

}


//TAGS:
.tag {
	text{
		font: 9px sans-serif;
		fill: #777;
		text-transform: uppercase;
		cursor: pointer;
		&:hover{
			fill:#000;
			font: 12px sans-serif;
		}
	}
}

//TAGS conectados con el tag que está seleccionado
.tag.relevant{
	text{
		font: 11px sans-serif;
		fill: #B66;
		text-transform: uppercase;
		font-weight: bold;
	}
}



//enlaces area-curso
path.link {
  fill: none;
  stroke: rgba(0,200,00,0.2);
  stroke-width: 1px;
  &.areacentric{
  	stroke: rgba(0,200,00,0.4);
  }
}

//enlaces tag-curso
path.linktag {
  fill: none;
  stroke: rgba(208,2,27,0.1);
  stroke-width: 1px;
  &.selected{
  	stroke: rgba(208,2,27,0.3);
  stroke-width: 2px;
  }
  &.selectedCC{
	stroke: rgba(150,2,27,0.4);
  	stroke-width: 2px;
  }
}

//caja de texto con info
#messages{
	background-attachment: fixed;
	background-size: cover;	
	padding:1em;
	display: none;
	transition: background 0.5s;
	a{
		color:#222;
		text-decoration: underline;
	}
	a.btn{
		color:white;
		text-decoration: none;
	}
	#titulo span{ background-color: white; }
	#tag-list{ background-color: white; display: inline-block;}
	span, #category-list{ background-color: white;}

}







