@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,300italic,400italic);
g.cat-edu circle {
  fill: #6AB21B;
}
g.cat-psico circle {
  fill: #6AB21B;
}
g.cat-idiomas circle {
  fill: #6AB21B;
}
g.cat-humanidades circle {
  fill: #6AB21B;
}
g.cat-derecho circle {
  fill: #6AB21B;
}
g.cat-economia circle {
  fill: #6AB21B;
}
g.cat-ciencia circle {
  fill: #6AB21B;
}
g.node text.hiddentext {
  transition: opacity 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
g.cat-area {
  fill: #7a7a7a;
}
.node.cat-area circle {
  fill: #7a7a7a;
}
.node.area {
  fill: #ee5555;
}
.node.area text {
  fill: #333;
}
g.area text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.node {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  fill: #666;
  cursor: pointer;
}
.node text {
  transition: opacity 0.6s ease;
  opacity: 1;
}
.node circle {
  fill: #6AB21B;
  stroke: #fff;
  stroke-width: 2px;
}
.node:hover {
  fill: #333;
}
.node:hover circle {
  fill: #97FF26;
  stroke: #fff;
  stroke-width: 2px;
}
.node.mouseHover {
  transition: fill 0.2s ease;
}
.node.mouseHover circle {
  fill: #97FF26;
  stroke: #fff;
  stroke-width: 2px;
}
g.node.tagSelected text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  fill: #7ED321;
  fill: #333;
}
g.node.clicked text {
  font-weight: 800;
  fill: #333;
}
g.node.cursocentrico text {
  /*font: 20px sans-serif;
		fill: #7ED321;*/
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  fill: #7ED321;
  fill: #333;
}
g.node.cursocentrico circle {
  stroke: #000;
  stroke-width: 2px;
}
g.area.relevant text {
  font-weight: 800;
}
.tag text {
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
  fill: #777;
}
.tag text:hover {
  fill: #000;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.tag.relevant text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
  /*fill: #B66;*/
  fill: #333;
  text-transform: uppercase;
  font-weight: 700;
}
path.link {
  fill: none;
  stroke: rgba(0, 200, 0, 0.2);
  stroke-width: 1px;
}
path.link.areacentric {
  stroke: rgba(0, 200, 0, 0.4);
}
path.link.mouseHover {
  transition: stroke 0.2s ease;
  stroke: rgba(0, 200, 0, 0.8);
}
path.linktag {
  fill: none;
  stroke: rgba(141, 191, 86, 0.2);
  stroke-width: 1px;
}
path.linktag.selected {
  stroke-width: 2px;
  stroke: #97ff26;
}
path.linktag.selectedCC {
  stroke: #97ff26;
  stroke-width: 2px;
}
path.linktag.mouseHover {
  transition: stroke 0.2s ease;
  stroke: rgba(0, 200, 0, 0.8);
}
#messages {
  font-family: 'Roboto Condensed', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  padding: 1em;
  display: none;
  transition: background 0.5s;
  /*box-shadow:2px 2px rgba(0,0,0,0.2);*/
  -webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.5);
}
#messages a {
  color: #222;
  text-decoration: underline;
}
#messages a.btn {
  color: white;
  text-decoration: none;
}
#messages #titulo span {
  background-color: white;
}
#messages #tag-list {
  background-color: none;
  display: inline-block;
}
#messages .fecha {
  background-color: #fff;
  padding: 4px 8px;
  font-size: 0.9em;
}
#messages .fecha i {
  color: #757575;
  padding-right: 8px;
  font-size: 1.1em;
}
#messages h2 {
  line-height: 1.3em;
  font-weight: 300;
  background-color: white;
  padding: 4px;
}
#messages hr {
  border-color: rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  margin-bottom: 12px;
}
.cat i {
  color: #7ED321;
  float: left;
  margin-top: 6px;
  margin-left: 6px;
}
a#category-list {
  display: block;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  border-radius: 4px;
  padding: 0;
  padding-left: 1.5em;
  padding-top: 2px;
  border: 1px solid #ccc;
  margin-bottom: 0.75em;
  background-color: #ffffff;
}
a:hover#category-list {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}
#tag-list a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
  fill: #777;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  padding: 4px 8px;
  text-decoration: none;
  border: 1px solid #ccc;
  margin-right: 4px;
  margin-bottom: 4px;
}
#tag-list a:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}
#actions {
  /*margin-top: 12px;*/
}
#actions a {
  /*min-width: 33%;*/
  /*background-color: rgba(0,0,0,0.8);*/
}
#actions i {
  margin-right: 0.5em;
}
#course-center {
  background-color: rgba(100, 100, 100, 0.8);
  width: 45%;
}
#course-link {
  background-color: rgba(0, 180, 0, 0.8);
  width: 53%;
}
a:hover#course-link {
  background-color: #00ff00;
}
a:hover#course-center {
  background-color: #000000;
}
line.tick {
  stroke: #fff;
  stroke-width: 2px;
}
rect.backgroundRect {
  fill: #fff;
}
circle.tagCircle {
  fill: #f9f9f9;
}
circle.tagCircle:hover {
  fill: #eee;
}
circle.areaCircle {
  fill: #fff;
}
@keyframes myfirst {
  0% {
    fill: #6AB21B;
  }
  50% {
    fill: #FFB21B;
  }
  100% {
    fill: #6AB21B;
  }
}
.emphasis circle {
  animation: myfirst 2s infinite;
}
