@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,300italic,400italic);
g.cat-edu circle,
g.cat-edu rect,
g.cat-edu path {
  /*
  fill:@col-edu;
  &:hover{
    fill: saturate(@col-edu, 10%);
  }
  */
  fill: #000;
  stroke: #730c51;
}
g.cat-edu circle:hover,
g.cat-edu rect:hover,
g.cat-edu path:hover {
  stroke: #f20aa5;
  fill: #000;
}
g.cat-psico circle,
g.cat-edu rect,
g.cat-edu path {
  fill: #000;
  stroke: #510c73;
}
g.cat-psico circle:hover,
g.cat-edu rect:hover,
g.cat-edu path:hover {
  stroke: #a50af2;
  fill: #000;
}
g.cat-idiomas circle,
g.cat-idiomas rect,
g.cat-idiomas path {
  fill: #000;
  stroke: #0c0c73;
}
g.cat-idiomas circle:hover,
g.cat-idiomas rect:hover,
g.cat-idiomas path:hover {
  stroke: #0a0af2;
  fill: #000;
}
g.cat-humanidades circle,
g.cat-humanidades rect,
g.cat-humanidades path {
  fill: #000;
  stroke: #0c5173;
}
g.cat-humanidades circle:hover,
g.cat-humanidades rect:hover,
g.cat-humanidades path:hover {
  stroke: #0aa5f2;
  fill: #000;
}
g.cat-derecho circle,
g.cat-derecho rect,
g.cat-derecho path {
  fill: #000;
  stroke: #0c730c;
}
g.cat-derecho circle:hover,
g.cat-derecho rect:hover,
g.cat-derecho path:hover {
  stroke: #0af20a;
  fill: #000;
}
g.cat-economia circle,
g.cat-economia rect,
g.cat-economia path {
  fill: #000;
  stroke: #73730c;
}
g.cat-economia circle:hover,
g.cat-economia rect:hover,
g.cat-economia path:hover {
  stroke: #f2f20a;
  fill: #000;
}
g.cat-ciencia circle,
g.cat-ciencia rect,
g.cat-ciencia path {
  fill: #000;
  stroke: #730c0c;
}
g.cat-ciencia circle:hover,
g.cat-ciencia rect:hover,
g.cat-ciencia path:hover {
  stroke: #f20a0a;
  fill: #000;
}
/* home button */
g.cat-home {
  opacity: 0;
}
.node.area {
  fill: #ee5555;
}
.node.area:hover text {
  fill: #efefef;
}
.node.area text {
  fill: #999;
}
g.area text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.node {
  opacity: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
  fill: #808080;
  cursor: pointer;
}
.node circle,
.node path,
.node rect {
  fill: #084f35;
  stroke: #000;
  stroke-width: 2px;
}
.node:hover circle {
  stroke: #fff;
  stroke-width: 2px;
}
.node:hover text {
  fill: #ccc;
}
.node.mouseHoverArea,
.node.areacentricSelected {
  transition: fill 0.2s ease;
}
.node.mouseHoverArea circle,
.node.areacentricSelected circle,
.node.mouseHoverArea path,
.node.areacentricSelected path,
.node.mouseHoverArea rect,
.node.areacentricSelected rect {
  stroke: #fff;
  stroke-width: 2px;
}
.node.mouseHoverArea text,
.node.areacentricSelected text {
  fill: #ccc;
}
.node.areacentricSelected:hover text {
  fill: #fff;
}
.node.relevant text {
  font-weight: 400;
  fill: #fff;
}
.node.areacentricSelected text {
  fill: #ccc;
}
/* animaciones según enfasis */
@keyframes myfirst {
  0% {
    fill: #6AB21B;
  }
  50% {
    fill: #FFB21B;
  }
  100% {
    fill: #6AB21B;
  }
}
/***** fin animaciones ***/
.node.area text {
  fill: #ccc;
}
.node.area-edu circle,
.node.area-edu rect,
.node.area-edu path {
  fill: #e517a1;
}
.node.area-ciencia circle,
.node.area-ciencia rect,
.node.area-ciencia path {
  fill: #e51717;
}
.node.area-economia circle,
.node.area-economia rect,
.node.area-economia path {
  fill: #e5e517;
}
.node.area-derecho circle,
.node.area-derecho rect,
.node.area-derecho path {
  fill: #17e517;
}
.node.area-humanidades circle,
.node.area-humanidades rect,
.node.area-humanidades path {
  fill: #17a1e5;
}
.node.area-idiomas circle,
.node.area-idiomas rect,
.node.area-idiomas path {
  fill: #1717e5;
}
.node.area-psico circle,
.node.area-psico rect,
.node.area-psico path {
  fill: #a117e5;
}
g.node.tagSelected text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  fill: #7ED321;
  fill: #333;
  fill: #ccc;
}
g.node.tagSelected circle,
g.node.tagSelected rect,
g.node.tagSelected path {
  stroke: #fff;
}
g.node.clicked text {
  font-weight: 400;
  fill: #fff;
  text-decoration: none;
}
g.node.clicked circle,
g.node.clicked rect,
g.node.clicked path {
  stroke: #fff;
}
g.node.cursocentrico text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  fill: #fff;
  text-decoration: none !important;
}
g.node.cursocentrico circle,
g.node.cursocentrico rect,
g.node.cursocentrico path {
  stroke: #fff;
  stroke-width: 2px;
}
.tag {
  opacity: 0;
}
.tag text {
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
  fill: #666;
}
.tag text:hover {
  fill: #efefef;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
}
.tag.relevant text,
.tag.selectedTagCentric text,
.tag.relevantCC text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
  fill: #fff;
  text-transform: uppercase;
  font-weight: 400;
}
path.link {
  fill: none;
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 1px;
  /*&.areacentric{
  	stroke: rgba(0,200,00,0.4);
  }*/
}
path.link.mouseHoverArea {
  transition: stroke 0.2s ease;
  stroke: rgba(255, 255, 255, 0.8);
}
path.linktag {
  fill: none;
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 1px;
}
path.linktag.selected {
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.3);
}
path.linktag.selectedCC {
  transition: stroke 0.2s ease;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
}
path.linktag.mouseHoverArea {
  transition: stroke 0.2s ease;
  stroke: rgba(255, 255, 255, 0.3);
}
line.tick {
  stroke: #1a1a1a;
  stroke-width: 2px;
}
rect.backgroundRect {
  fill: #000;
}
circle.tagCircle {
  fill: #666;
  fill: #1a1a1a;
  cursor: ns-resize;
  cursor: -webkit-zoom-grab;
}
circle.courseCircle {
  cursor: ns-resize;
  cursor: -webkit-zoom-grab;
  fill: #000000;
}
circle.areaCircle {
  fill: #000000;
}
path.source-psico {
  stroke: #510c73;
  stroke-width: 1px;
}
path.source-psico.mouseHoverArea {
  transition: stroke 0.2s ease;
  stroke: #a117e5;
}
path.source-psico.areacentricSelected {
  stroke: #a117e5;
}
path.source-ciencia {
  stroke: #730c0c;
  stroke-width: 1px;
}
path.source-ciencia.mouseHoverArea {
  transition: stroke 0.2s ease;
  stroke: #e51717;
}
path.source-ciencia.areacentricSelected {
  stroke: #e51717;
}
path.source-economia {
  stroke: #73730c;
  stroke-width: 1px;
}
path.source-economia.mouseHoverArea {
  transition: stroke 0.2s ease;
  stroke: #e5e517;
}
path.source-economia.areacentricSelected {
  stroke: #e5e517;
}
path.source-idiomas {
  stroke: #0c0c73;
  stroke-width: 1px;
}
path.source-idiomas.mouseHoverArea {
  transition: stroke 0.2s ease;
  stroke: #1717e5;
}
path.source-idiomas.areacentricSelected {
  stroke: #1717e5;
}
path.source-humanidades {
  stroke: #0c5173;
  stroke-width: 1px;
}
path.source-humanidades.mouseHoverArea {
  transition: stroke 0.2s ease;
  stroke: #17a1e5;
}
path.source-humanidades.areacentricSelected {
  stroke: #17a1e5;
}
path.source-edu {
  stroke: #730c51;
  stroke-width: 1px;
}
path.source-edu.mouseHoverArea {
  transition: stroke 0.2s ease;
  stroke: #e517a1;
}
path.source-edu.areacentricSelected {
  stroke: #e517a1;
}
path.source-derecho {
  stroke: #0c730c;
  stroke-width: 1px;
}
path.source-derecho.mouseHoverArea {
  transition: stroke 0.2s ease;
  stroke: #17e517;
}
path.source-derecho.areacentricSelected {
  stroke: #17e517;
}
.backgroundContainer .areaCircle,
.backgroundContainer .tagCircle,
.backgroundContainer .courseCircle,
.backgroundContainer .backgroundRect {
  opacity: 0;
}
.helphoverContainer .helpAreaCircle circle {
  fill: rgba(0, 0, 0, 0.8);
}
.helphoverContainer .helpAreaCircle text {
  font-size: 3em;
  fill: white;
  opacity: 0;
}
.helphoverContainer .helpAreaCircle text.minitexto,
.helphoverContainer .helpAreaCircle text.minitexto2 {
  font-size: 1.1em;
  opacity: 1;
  fill: white;
}
.helphoverContainer .helpAreaCircle text.minitexto2 {
  display: none;
}
.helphoverContainer .helpCoursesCircle {
  opacity: 0;
}
.helphoverContainer .helpCoursesCircle circle {
  fill: rgba(0, 0, 0, 0.4);
}
.helphoverContainer .helpCoursesCircle text {
  font-size: 3em;
  fill: white;
}
.helpTagsCircle {
  opacity: 0;
}
.helpTagsCircle circle {
  fill: rgba(0, 0, 0, 0.1);
}
.helpTagsCircle text {
  font-size: 3em;
  fill: white;
}
